*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(1, 1, 29);
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(48, 48, 100);
    
}

nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
}

.left{
    font-size: 2rem;
}

.firstsection{
    display: flex;
    justify-content: space-around;
    align-items: center ;
    margin: 90px 0;
}

.firstsection > div{
    width: 30%;
    
}

.leftsection{
    
    font-size: 3rem;
    /* margin: 70px 0; */

}

.rightsection img{
    width: 80%;
}
.right li:hover{
    cursor: pointer;
    background-color: lightcoral;
    font-size: 1.02rem;
}

.purple{
    color: blueviolet;
}

#element{
    color:rgb(170, 107,228);
}
.secondsection{
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}
.secondsection .box{
    background: white;
    width: 85vw;
    height: 2px;
    margin: 56px 0;
    background-color: aqua;
    display: flex;
}
.secondsection .vertical{
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 115px;
}
main hr{
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin: 60ox 84px;
}

.text-gray{
    color: gray;
}

.image-top{
    width: 30px;
    position: relative;
    top: -32px;
    left: -9px;
}
.vertical-title{
     position: relative;
     top: 70px;
     width: 150px;
     font-size: 14px;
}
.vertical-desc{
    position: relative;
    top: 80px;
    color: gray;
    width:  200px;
    font-size: 15px;
}

footer{
    background-color: purple;
    /* height: 280px; */
}
.footer{
    display: flex;
    padding: 30px 140px;
    justify-content: space-evenly;
}

.footer ul{
    list-style: none;
}

.footer > div{
    width: 223px;
}

.text-center{
    text-align: center;
    color: gray;
    padding: 12px 0;
}

.leftsection .btn{
    padding: 12px;
    cursor: pointer;
    background-color: purple;
    color: white;
    border: 2px solid white;
    font-weight: bold;
    border-radius: 5px;
}

.btn1{
    background-color: purple;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}



/*  this css is for about file*/

*{
    background-color: rgb(54, 30, 77);
    color: white;
}
.first{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 150px 0;
}
.left-d{
    width: 50%;
  
}
 .img1{
    width: 80%;
    border-radius: 50%;
    /* background-color: blue; */
    margin-left: 70px;
}

img{
    
    height: 300px;
    width:300px
}